:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --link-text-color: #ffffff;
  --bgr-section-color: #f5f4fa;
  /** --primary-font-family: "Roboto", sans-serif;*/
}
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color: var(--link-text-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.contaner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  text-decoration: none;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation .logo {
  margin-right: 85px;
}
.nav-list-link:not(:last-child) {
  margin-right: 50px;
}
.header .contaner {
  display: flex;
  justify-content: space-between;
}
.contaner .adress-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
}
.adress-link:not(:last-child) {
  margin-right: 30px;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.button.primary,
.hero-button,
.button:hover,
.button:focus {
  color: var(--link-text-color);
  background-color: var(--accent-color);
}
/* логотип*/
.logo,
.logo-text-footer {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo .web,
.logo-text-footer .web,
.adress-footer:hover,
.adress-footer:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.header-adress:hover,
.header-adress:focus,
.site-nav .link.curent {
  color: var(--accent-color);
}
/* Site-nav  */
.site-nav {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link,
.section-title2,
.section-title-osob,
.section-title-comand,
.section-title-portf {
  color: var(--title-text-color);
}
.header-adress,
.adress-footer {
  color: var(--primary-text-color);
  font-weight: 500;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Секция Герой*/
.hero {
  background-color: rgba(47, 48, 58, 0.8);
}
.hero-title,
.section-title-ch,
.logo-text-footer,
.div-text-footer,
.text-footer {
  color: var(--link-text-color);
}
/*  основные заголовки в студии*/
.section-title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
/*секция особенности*/
.section-title-osob {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.bgr-osob,
.bgr-comand {
  background-color: var(--bgr-section-color);
}
.bgr-osob:hover,
.bgr-osob:focus {
  background-color: var(--accent-color);
}
/* секция Чем занимаемся*/
.section-title-ch {
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
/*секция Наша команда*/
.section-title-comand {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.bgr-comand p {
  font-size: 16px;
  line-height: 1.19;
}
/* footer*/
.logo-footer {
  background-color: #2f303a;
}
.text-footer {
  font-style: normal;
  line-height: 1.7;
}
.adress-footer {
  color: #afb1b8;
}
.div-text-footer {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.sosial-footer {
  background-color: rgba(255, 255, 255, 0.1);
}
/*   ПОРТФОЛИО*/
.section-title-portf {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text p {
  font-size: 16px;
  line-height: 1.88;
}
