:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --link-text-color: #ffffff;
  --bgr-section-color: #f5f4fa;
  /** --primary-font-family: "Roboto", sans-serif;*/
}
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color: var(--link-text-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.list,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section {
  margin-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.link {
  text-decoration: none;
}
.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation .logo {
  margin-right: 85px;
}
.nav-list-link:not(:last-child) {
  margin-right: 50px;
}
.container .adress-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.adress-link:not(:last-child) {
  margin-right: 30px;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  align-items: center;
  background-color: transparent;
}
.hero button {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button.primary,
.hero-button,
.button:hover,
.button:focus {
  color: var(--link-text-color);
  background-color: var(--accent-color);
}
/* логотип*/
.logo,
.logo-text-footer {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo .web,
.logo-text-footer .web,
.adress-footer:hover,
.adress-footer:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.header-adress:hover,
.header-adress:focus,
.site-nav .link.curent {
  color: var(--accent-color);
}
/* Site-nav  */
.site-nav {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link,
.section-title2,
.section-title-osob,
.section-title-comand,
.section-title-portf {
  color: var(--title-text-color);
}
.header-adress,
.adress-footer {
  color: var(--primary-text-color);
  font-weight: 500;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Секция Герой*/
.hero {
  max-width: 1600px;
  background-color: rgba(47, 48, 58, 0.8);
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
.hero-title,
.section-title-ch,
.logo-text-footer,
.div-text-footer,
.text-footer {
  color: var(--link-text-color);
}
/*  основные заголовки в студии*/
.section-title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  align-items: center;
}
/*секция особенности*/

.osob-items {
  width: 270px;
  text-align: left;
}
.osob-items:not(:last-child) {
  margin-right: 30px;
}
.osob-items .bgr-osob {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 20px;
}
.bgr-osob,
.comand {
  background-color: var(--bgr-section-color);
}
.bgr-osob:hover,
.bgr-osob:focus {
  background-color: var(--accent-color);
}
.section-title-osob {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* секция Чем занимаемся*/
.section-title-ch {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.job-container-items img {
  display: block;
}
.container .job-contaner {
  margin-bottom: 94px;
  text-align: center;
  align-items: center;
}
.job-container-items:not(:last-child) {
  margin-right: 30px;
}
/*секция Наша команда*/
.comand {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 107px;
  text-align: center;
  align-items: center;
}
.section-title2 {
  padding-bottom: 50px;
  text-align: center;
}
.container-comand-item {
  width: 270px;
  background-color: var(--link-text-color);
}
.container-comand-item:not(:last-child) {
  margin-right: 30px;
}
.section-title-comand {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
}
.bgr-comand p {
  font-size: 16px;
  line-height: 1.19;
}
.container-sosial .social {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  padding-bottom: 12px;
}
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;
}
.container-sosial-item:not(:last-child) {
  margin-right: 32px;
}
/* Секция постоянные клиенты */
.container-clients {
  margin-top: 50px;
}
.container-clients-item {
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.container-clients-item:not(:last-child) {
  margin-right: 30px;
}
/* footer*/
.logo-footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
}
.text-footer {
  font-style: normal;
  line-height: 1.7;
}
.adress-footer {
  color: #afb1b8;
}
.div-text-footer {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.div-text-footer .container-social .social {
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
}
.logo-footer .container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.container-footer-adress {
  margin-top: 60px;
  margin-bottom: 60px;
}
.footer-adress {
  margin-top: 20px;
}
.footer-adress-mail {
  padding: 9px 0 9px 0;
}
.div-text-footer .container-social .social {
  margin-top: 20px;
}
.container .portfolio,
.container .osob-container,
.container .job-container,
.container .bgr-comand,
.container .container-sosial,
.container .container-clients,
.container .container-portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/*   ПОРТФОЛИО*/
.container-portfolio {
  justify-content: center;
  margin-bottom: 34px;
}
.container-button-item {
  margin-bottom: 56px;
}
.container-button-item:not(:last-child) {
  margin-right: 52px;
}
.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  text-align: left;
}
.portfolio-item img {
  display: block;
  width: 370px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.section-title-portf {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px;
}
.portfolio-item p {
  font-size: 16px;
  line-height: 1.88;
  align-self: start;
  margin: 0px;
}
